###############################################################################
###               University of Hawaii, College of Engineering
###               Lab 2 - Catnap - SRE - Spring 2023
###
### Tells git which files to ignore
###
### @see https://git-scm.com/docs/gitignore
###
### @file .gitignore
### @author Mark Nelson <marknels@hawaii.edu>
###############################################################################


# Ignore all .c files (this is a .cpp lab)
*.c

# Ignore all object files
*.o

# Ignore the executable file
catnap
a.out
*.exe

# Ignore a hidden file for MacOS filesystems
.DS_Store

# Ignore vi swap files
.*.swp
